@model SGM.Domain.Entities.BlogEntities.Comment


<div id="@Model.Id" class="d-flex my-2">
    <div>
        @if (Model.Author == null)
        {
            <img class="rounded-circle mr-2" width="50" height="50" src="~/img/default_user_avatar.png" alt="user avatar" />
        }
        else
        {
            <img class="rounded-circle mr-2" width="50" height="50" src="@Model.Author.ProfilePhotoPath" alt="user avatar" />
        }
    </div>
    <div class="card shadow-sm flex-grow-1">
        <div class="card-body p-2">
            <div class="mb-4">
                <span id="comment_author" class="text-primary mr-3" style="font-size: smaller">
                    @if (Model.Author == null)
                    {
                        @Model.AuthorName;
                    }
                    else
                    {
                        @Model.Author.UserName;
                    }                  
                </span>
                <span class="text-muted font-weight-light" style="font-size: small">
                    @Model.Timestamp
                </span>
                <div class="float-right">
                    @if (Model.Replies.Any())
                    {
                        var targetElement = $"#{Model.Id}.card-footer";
                        <button class="btn btn-sm" onclick="collapseElement('@targetElement')">
                            <i class="fa fa-angle-down fa-lg"></i>
                        </button>
                    }

                    @if (Model.Author != null && User.Identity?.Name == Model.Author.UserName || 
                         User.IsInRole("SuperAdmin") || User.IsInRole("Admin") || 
                         User.IsInRole("Moderator"))
                    {
                        <form asp-page-handler="DeleteComment" asp-route-commentId="@Model.Id" asp-route-rootCommentId="@ViewData["RootCommentId"]" asp-route-pageIndex="@ViewData["PageIndex"]" class="float-right" method="post">
                            <button class="btn btn-sm delete-item" data-toggle="tooltip" data-placement="top" title="Delete comment">
                                <i class="fa fa-times"></i>
                            </button>
                        </form>
                    }

                    @if (User.Identity.IsAuthenticated)
                    {
                        <button id="@Model.Id" class="btn btn-sm float-right" data-toggle="tooltip" data-placement="top" title="Reply to this comment" onclick="showReplyCommentBox('@Model.Id')">
                            <i class="fa fa-reply"></i>
                        </button>
                    }
                </div>
            </div>
            <div>
                @Html.Raw(Model.Content)
            </div>
        </div>
        <div id="@Model.Id" class="card-footer collapse p-0 p-sm-2">
            @foreach (var reply in Model.Replies)
            {
                <partial name="_CommentsPartial" model="reply" />
            }

            <div id="@Model.Id" class="reply-commentbox ml-1 d-none">
                <form asp-page-handler="ReplyToComment" asp-route-commentId="@Model.Id" asp-route-pageIndex="@ViewData["PageIndex"]" class="w-100" method="post">
                    <div class="bg-white border border-dark p-2">
                        <span data-valmsg-for="CommentContent" data-valmsg-replace="true" class="text-danger"></span>
                        <textarea id="CommentContent" name="CommentContent" class="comment-editor" rows="4" placeholder="Type message..." required></textarea>
                    </div>
                    <div class="mt-2">
                        <input type="submit" class="btn btn-sm btn-info shadow-sm" value="Reply" onclick="hideReplyCommentBox('@Model.Id')" />
                        <input type="button" class="btn btn-sm border shadow-sm" value="Cancel" onclick="hideReplyCommentBox('@Model.Id')" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
