@page "{slug}"
@using SuxrobGM_Website.Core.Entities.BlogEntities
@model SuxrobGM_Website.Web.Pages.Blog.IndexModel

@{
    ViewData["Title"] = Model.Blog.Title;
    Layout = "_BlogLayout";
}

@section Head {
    @{
        var imgUrl = $"https://suxrobgm.net{Model.Blog.CoverPhotoPath}";
        var articleUrl = $"https://suxrobgm.net/blog/{Model.Blog.Slug}";
        var shortContent = Blog.GetShortContent(Model.Blog.Content, 200);
    }

    <meta name="author" content="@Model.Blog.Author" />
    <meta name="description" content="@shortContent" />
    <meta name="keywords" content="@Model.Tags" />
    <meta name="image" content="@imgUrl" />
    <meta property="og:title" content="@Model.Blog.Title" />
    <meta property="og:description" content="@shortContent" />
    <meta property="og:site_name" content="Sukhrob Ilyosbekov's Blog" />
    <meta property="og:type" content="article" />
    <meta property="og:image" content="@imgUrl" />
    <meta property="og:url" content="@articleUrl" />
    <meta property="article:published_time" content="@Model.Blog.Timestamp" />
    <meta property="article:author" content="@Model.Blog.Author" />
    <meta property="article:tags" content="@Model.Tags" />
    <meta name="twitter:title" content="@Model.Blog.Title" />
    <meta name="twitter:description" content="@shortContent" />
    <meta name="twitter:creator" content="@Model.Blog.Author" />
    <meta name="twitter:card" content="@Model.Blog.Summary" />
    <meta name="twitter:site" content="Sukhrob Ilyosbekov's Blog" />
    <meta name="twitter:image" content="@imgUrl" />
}

@section CSS {
    <link href="https://cdn.syncfusion.com/ej2/ej2-richtexteditor/styles/material.css" rel="stylesheet" />
    <script async src="https://platform-api.sharethis.com/js/sharethis.js#property=5d20ee636d20a10012251ae5"></script>
}

<div class="card shadow-sm mb-4">
    <div class="card-header">
        <b>@Model.Blog.Title</b>
        <div class="float-right">
            <span class="font-italic">@Model.Blog.Timestamp.ToString("MMMM dd, yyyy")</span>
            <span class="mx-3"><i class="fa fa-eye"></i>&nbsp;@Model.Blog.ViewCount</span>
            @if (User.IsInRole("SuperAdmin") || User.IsInRole("Admin"))
            {
                <span class="mx-2">
                    <a asp-page="/Blog/Edit" asp-route-id="@Model.Blog.Id" data-toggle="tooltip" data-placement="top" title="Edit this article" style="color: black"><i class="fa fa-wrench"></i></a>
                    <a asp-page="/Blog/Delete" asp-route-Id="@Model.Blog.Id" data-toggle="tooltip" data-placement="top" title="Delete this article" style="color: black"><i class="fa fa-times"></i></a>
                </span>
            }
        </div>

    </div>
    <div class="card-body mb-2 p-2 p-sm-3 p-lg-4">
        @Html.Raw(Model.Blog.Content)
    </div>
    <div class="card-footer">
        <b>Tags</b><br />
        @{
            var tags = Model.Blog.BlogTags.Select(i => i.Tag);
            foreach (var tag in tags)
            {
                <span class="badge badge-dark mr-2">@tag</span>
            }
        }
    </div>
</div>

@if (Model.Blog.Comments.Count > 0)
{
    <div id="comments" class="mb-2">
        @foreach (var comment in Model.Comments)
        {
            @if (ViewData["RootCommentId"] == null)
            {
                ViewData.Add("RootCommentId", comment.Id);
            }
            else
            {
                ViewData["RootCommentId"] = comment.Id;
            }

            <partial name="_CommentsPartial" for="@comment" view-data="ViewData" />
        }

        <div id="pagination" class="d-flex">
            <pagination class="mx-auto" page-index="@Model.Comments.PageIndex"
                        total-pages="@Model.Comments.TotalPages"
                        page-method="pageIndex" page-fragment="pagination"
                        base-url="@Model.Blog.Slug" />
        </div>
    </div>
}

<div class="col-12 col-sm-10 col-md-8 mt-4">
    @if (!User.Identity.IsAuthenticated)
    {
        <form method="post">
            <h4>Post as a guest or <a asp-area="Identity" asp-page="/Account/Login">Sign In</a></h4>
            <div class="form-group">
                <b><label asp-for="@Model.CommentAuthorName"></label></b>
                <input class="form-control" asp-for="@Model.CommentAuthorName" required />
                <span class="text-danger" asp-validation-for="@Model.CommentAuthorName"></span>
            </div>
            <div class="form-group">
                <b><label class="mb-0" asp-for="@Model.CommentAuthorEmail"></label></b><br />
                <label style="font-size:small">Required, but newer shown</label>
                <input class="form-control" asp-for="@Model.CommentAuthorEmail" required />
                <span class="text-danger" asp-validation-for="@Model.CommentAuthorEmail"></span>
            </div>

            <div id="comment_textbox" class="card card-header shadow-sm my-4 p-2">
                <label><b>Post a comment</b></label>
                <span asp-validation-for="@Model.CommentContent" class="text-danger"></span>
                <div class="bg-white p-2">
                    <textarea asp-for="@Model.CommentContent" class="comment-editor" rows="4" placeholder="Type message..." required></textarea>
                </div>
                <input type="submit" class="btn btn-sm btn-info shadow-sm mt-2 col-5 col-sm-4 col-md-3" value="Save comment" />
            </div>
        </form>
    }
    else
    {
        <div id="comment_textbox" class="card card-header shadow-sm my-4 p-2">
            <label><b>Post a comment</b></label>
            <span asp-validation-for="@Model.CommentContent" class="text-danger"></span>
            <form method="post">
                <div class="bg-white p-2">
                    <textarea asp-for="@Model.CommentContent" class="comment-editor" rows="4" placeholder="Type message..." required></textarea>
                </div>
                <input type="submit" class="btn btn-sm btn-info shadow-sm mt-2" value="Save comment" />
            </form>
        </div>
    }
</div>
