@page "{blogUrl}"
@model SuxrobGM_Resume.Pages.Blogs.BlogIndexModel
@{
    ViewData["Title"] = Model.Blog.Title;
    Layout = "_BlogLayout";
}

@section SEO {
    <meta name="author" content="@Model.Blog.Author" />
    <meta name="description" content="@Model.Blog.Summary" />
    <meta name="keywords" content="@Model.Blog.Tags" />
    <meta name="image" content="@Model.Blog.CoverPhotoUrl" />
    <meta property="og:title" content="@Model.Blog.Title" />
    <meta property="og:description" content="@Model.Blog.Summary" />
    <meta property="og:image" content="@Model.Blog.CoverPhotoUrl" />
    <meta property='og:type' content='article' />
    <meta property="article:published_time" content="@Model.Blog.CreatedTime" />
    <meta property="article:author" content="@Model.Blog.Author" />
    <meta property="article:tags" content="@Model.Blog.Tags" />

    @{
        string blogUrlFull = "https://suxrobgm.net/blogs/" + Model.Blog.GetRelativeUrl();
        <meta property='og:site_name' content="@blogUrlFull" />
    }
}

<div class="card shadow-sm mb-4">
    <div class="card-header">
        <b>@Model.Blog.Title</b>
        <span class="float-right" style="font-size: small">@Model.Blog.CreatedTime.ToString("dd.MM.yyyy")</span>
        @if (User.IsInRole("SuperAdmin") || User.IsInRole("Admin"))
        {
            <div class="float-right mx-2">
                <a asp-page="/Blogs/Edit" asp-route-id="@Model.Blog.Id" data-toggle="tooltip" data-placement="top" title="Edit this article" style="color: black"><i class="fa fa-wrench"></i></a>
                <a asp-page="/Blogs/Delete" asp-route-Id="@Model.Blog.Id" data-toggle="tooltip" data-placement="top" title="Delete this article" style="color: black"><i class="fa fa-times"></i></a>
            </div>
        }
    </div>
    <div class="card-body mb-2">
        @Html.Raw(Model.Blog.Content)
    </div>
    <div class="card-footer">
        <b>Tags</b><br />
        @foreach (var tag in Model.BlogTags)
        {
            <span class="badge badge-dark mr-2">@tag</span>
        }
    </div>
</div>

@if (Model.Blog.Comments.Count > 0)
{
    <div id="comments" class="mb-2">
        @foreach (var comment in Model.Comments)
        {
            @if (ViewData["RootCommentId"] == null)
            {
                ViewData.Add("RootCommentId", comment.Id);
            }
            else
            {
                ViewData["RootCommentId"] = comment.Id;
            }

            <partial name="_CommentsPartial" for="@comment" view-data="ViewData" />
        }

        <div id="pagination" class="d-flex">
            <pagination class="mx-auto" page-index="@Model.Comments.PageIndex"
                        total-pages="@Model.Comments.TotalPages"
                        page-method="pageIndex" page-fragment="pagination"
                        base-url="@Model.Blog.Url" />
        </div>
    </div>
}

<div class="col-12 col-sm-10 col-md-8 mt-4">
    @if (!User.Identity.IsAuthenticated)
    {
        <form method="post">
            <h4>Post as a guest or <a asp-area="Identity" asp-page="/Account/Login">Sign In</a></h4>
            <div class="form-group">
                <b><label asp-for="@Model.CommentAuthorName"></label></b>
                <input class="form-control" asp-for="@Model.CommentAuthorName" required />
                <span class="text-danger" asp-validation-for="@Model.CommentAuthorName"></span>
            </div>
            <div class="form-group">
                <b><label class="mb-0" asp-for="@Model.CommentAuthorEmail"></label></b><br />
                <label style="font-size:small">Required, but newer shown</label>
                <input class="form-control" asp-for="@Model.CommentAuthorEmail" required />
                <span class="text-danger" asp-validation-for="@Model.CommentAuthorEmail"></span>
            </div>

            <div id="comment_textbox" class="card card-header shadow-sm my-4 p-2">
                <label><b>Post a comment</b></label>
                <span asp-validation-for="@Model.CommentText" class="text-danger"></span>
                <div class="bg-white p-2">
                    <textarea asp-for="@Model.CommentText" class="comment-editor" rows="4" placeholder="Type message..." required></textarea>
                </div>
                <input type="submit" class="btn btn-sm btn-info shadow-sm mt-2 col-5 col-sm-4 col-md-3" value="Save comment" />
            </div>
        </form>
    }
    else
    {
        <div id="comment_textbox" class="card card-header shadow-sm my-4 p-2">
            <label><b>Post a comment</b></label>
            <span asp-validation-for="@Model.CommentText" class="text-danger"></span>
            <form method="post">
                <div class="bg-white p-2">
                    <textarea asp-for="@Model.CommentText" class="comment-editor" rows="4" placeholder="Type message..." required></textarea>
                </div>
                <input type="submit" class="btn btn-sm btn-info shadow-sm mt-2" value="Save comment" />
            </form>
        </div>
    }
</div>
